.parent{
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.9;
}
.button{
    -fx-background-color: #6666ff;
    -fx-opacity: 0.8;
    -fx-background-radius: 20px;
}
.button:hover{
    -fx-background-color: #6666ff;
    -fx-opacity: 1;
    -fx-background-radius: 20px;
}
.close_label{
    -fx-background-color:transparent;
}
.close_label:hover{
    -fx-background-color:#999999;
}